html {
	font-family: 'Verdana';
}

header {
	width: 50%;
	margin: 0px auto;
}

h1 {
	font-size: 74px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0;
}

div {
	height: 200px;
	background-color: coral;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	line-height: 200px;
}

