* {
	box-sizing: border-box;
}

table {
	width: 500px;
}

table,
td,
th {
	border: 1px solid #000;
	border-collapse: collapse;
}

td,
th {
	text-align: right;
	padding: 4px;
}

th {
	font-weight: bold;
}
