* {
	box-sizing: border-box;
}

.text {
	position: relative;
	margin: 16px;
	border-bottom: 1px dotted black;
	display: inline-block;
}

.text:hover .tooltip {
	display: block;
}

.tooltip {
	display: none;
	background-color: grey;
	color: #fff;
	border-radius: 4px;
	padding: 8px;
	position: absolute;
	left: 0;
	bottom: -40px;
}
